<div class="page-wrapper">
  <div class="register-container">
    <div class="register-card">
      <h2>Register</h2>
      <form [formGroup]="employee" (ngSubmit)="register()">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" formControlName="name" name="name" />
          <span class="error-message" *ngIf="employee.get('name')?.invalid && employee.get('name')?.touched">Name is required.</span>
        </div>

        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" formControlName="email" name="email" />
          <span class="error-message" *ngIf="employee.get('name')?.invalid && employee.get('name')?.touched">Email is required.</span>
        </div>

        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" formControlName="password" name="password" />
          <span class="error-message" *ngIf="employee.get('name')?.invalid && employee.get('name')?.touched">Password is required.</span>
        </div>

        <button class="register-btn" type="submit">Register</button>
      </form>

      <div class="login-link">
        Already have an account? <a routerLink="/login">Login here</a>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
